.item-wrapper[data-v-21800f52] {
  display: flex;
  flex-wrap: wrap;
}
.item-wrapper .item[data-v-21800f52] {
  display: flex;
  cursor: pointer;
  position: relative;
}
.item-wrapper .item .icon[data-v-21800f52] {
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  display: block;
  width: 0.48rem;
  height: 0.48rem;
}
.item-wrapper .item .icon.new[data-v-21800f52] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAMAAAANmfvwAAAAAXNSR0IArs4c6QAAAQJQTFRFAAAA/15e/11d/15e/2Bg/2Ji/2Nj/2Rk/2Vl/2Zm/2ho/2lp/2pq/2xs/21t/25u/29v/3Bw/3Fx/3Jy/3Nz/3R0/3V1/3l5/3x8/319/35+/39//4CA/4GB/4KC/4WF/4aG/4eH/4iI/4qK/4yM/42N/4+P/5GR/5SU/5iY/5qa/5ub/52d/6Gh/6Sk/6Wl/6ur/62t/66u/7Cw/7Gx/7S0/7a2/7i4/7+//8LC/8TE/8XF/8vL/8zM/87O/9HR/9XV/9bW/9jY/9nZ/9ra/9zc/93d/97e/9/f/+Hh/+Li/+Xl/+fn/+jo/+vr/+zs//Ly//n5//v7//39//7+////MliyLwAAAAJ0Uk5TAICbK04YAAABEUlEQVQ4y4XS2VbCQAwG4DCMgKIoAm60VqpQUESUKqKidauMIi417/8qzrGli21P/oskF99Fzkkgw6gAZGgSNzVjPi15JGY6TlXWvNa3f449EjXPtsCZbSuOIy6N/JxETG8y7F1MTxXcCXb5b94H7OSTb+NWlASmoI7HqrhRddxflVkIiG80dHPmtlaI+IbzMuqc17HbeH1qLIeJZ4qmOcQr02ziOnu4De/imzXLesSJZR1iIYG4pjjaRGOUO/pmSeTP9N9KuCcG57NkIk3ly1hBrSVerlOINAflDu5mdWynEWnqH3eLTLnPppLwLTaqyST2G0AboA3QBmgDtAHaAG2ANkAboA3QBmgDtAHaAG1+AcovJaVmiQazAAAAAElFTkSuQmCC);
  background-size: 100% 100%;
}
.item-wrapper .item .icon.update[data-v-21800f52] {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAiCAMAAAANmfvwAAAAAXNSR0IArs4c6QAAAQ5QTFRFAAAAKnr/KXj/Knn/K3n/LXr/Lnv/L3z/MHz/MX3/Mn3/OIH/OYL/O4P/PIT/PYT/PoX/QIb/Qof/SIz/So3/TI7/TY7/UJD/V5X/Wpf/W5f/XJj/Xpn/Ypz/Zp7/aqH/baP/cKX/cqb/d6n/fKz/iLT/jLb/krr/k7v/lbz/lr3/mr//m8D/oMP/osT/pMX/psb/p8f/q8r/rsz/sM3/sc7/uNL/udP/u9T/vNX/wNf/wdj/yd3/y97/zN//0OH/0eL/0+P/2+j/3en/3+r/3+v/4u3/5/D/6PD/6fH/6/L/7PP/7fP/7vT/7/T/8vf/8/f/9Pj/9vn/9/r/+Pr/+fv/+vz//f3//v7/////MsQ+cAAAAAJ0Uk5TAICbK04YAAABFElEQVQ4y4XS11bCYBAE4P1HE7ESe8EebMQWjaLYTVADlgC2ff8X8SJAqmfn+ruYOWdIQQqRksl/prQYkZRZNU3T3AQebmMkae6YmQOM/lTiJGHGDMM4CrDBF5ZlWcUeSfexAlQ7nvfMLzN9kjJWMP/bGECZpxGRyOy6rvseXDIv46SJOOkbu+M4zmnr8PUY9WqS9IztA8DCyEFjicsp0jUhAeb48a2QJqGxfQDDAO55DxlCCoDt6+vnrUEU67yfQ0gBte8P9rb1KffzmrdyCCmt+XVWwtBOu72iXXFtMktIrY0DKLg3s4BWeZrIId1dRjhLRx7J/IdkQ7Ih2ZBsSDYkG5INyYZkQ7Ih2ZBsSDYkG5LNH+k0IVZQT0kpAAAAAElFTkSuQmCC);
  background-size: 100% 100%;
}
.item-wrapper .item.opacity[data-v-21800f52] {
  opacity: 0.5;
}
.item-wrapper.icon-size-1 .item[data-v-21800f52],
.item-wrapper.icon-size-4 .item[data-v-21800f52],
.item-wrapper.icon-size-5 .item[data-v-21800f52] {
  height: 0.8rem;
  overflow: hidden;
  background: #F2F2F2;
  border-radius: 2px;
  display: flex;
  margin-right: 0.32rem;
  margin-bottom: 0.21333rem;
  align-items: center;
  transition: 0.3s;
  border: 1px solid #DFDFDF;
}
.item-wrapper.icon-size-1 .item[data-v-21800f52]:hover,
.item-wrapper.icon-size-4 .item[data-v-21800f52]:hover,
.item-wrapper.icon-size-5 .item[data-v-21800f52]:hover {
  background: #ddd;
}
.item-wrapper.icon-size-1 .item img[data-v-21800f52],
.item-wrapper.icon-size-4 .item img[data-v-21800f52],
.item-wrapper.icon-size-5 .item img[data-v-21800f52] {
  width: 0.64rem;
  height: 0.64rem;
  border-radius: 0.10667rem;
  margin-left: 0.10667rem;
  object-fit: cover;
}
.item-wrapper.icon-size-1 .item span[data-v-21800f52],
.item-wrapper.icon-size-4 .item span[data-v-21800f52],
.item-wrapper.icon-size-5 .item span[data-v-21800f52] {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  padding: 0 0.10667rem 0 0.21333rem;
  color: #424242;
  font-size: 0.37333rem;
  text-align: center;
}
.item-wrapper.icon-size-1 .item img + span[data-v-21800f52],
.item-wrapper.icon-size-4 .item img + span[data-v-21800f52],
.item-wrapper.icon-size-5 .item img + span[data-v-21800f52] {
  width: clac(74%);
  text-align: left;
}
.item-wrapper.icon-size-2 .item[data-v-21800f52],
.item-wrapper.icon-size-3 .item[data-v-21800f52] {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.26667rem;
  background: #F8F8F8;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid #E5E5E5;
}
.item-wrapper.icon-size-2 .item img[data-v-21800f52],
.item-wrapper.icon-size-3 .item img[data-v-21800f52] {
  width: 100%;
  height: 1.86667rem;
  max-width: 100%;
  object-fit: cover;
}
.item-wrapper.icon-size-2 .item span[data-v-21800f52],
.item-wrapper.icon-size-3 .item span[data-v-21800f52] {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  line-height: 0.53333rem;
  height: 0.53333rem;
  color: #424242;
  width: 100%;
  font-size: 0.32rem;
  text-align: center;
}
.item-wrapper.icon-size-6 .item[data-v-21800f52],
.item-wrapper.icon-size-7 .item[data-v-21800f52] {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.26667rem;
  background: #F8F8F8;
  border: 1px solid #E5E5E5;
  width: calc((100% - 0.21333rem * 7) / 8);
  margin-right: 0.21333rem;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
}
.item-wrapper.icon-size-6 .item[data-v-21800f52]:nth-child(8n),
.item-wrapper.icon-size-7 .item[data-v-21800f52]:nth-child(8n) {
  margin-right: 0;
}
.item-wrapper.icon-size-6 .item img[data-v-21800f52],
.item-wrapper.icon-size-7 .item img[data-v-21800f52] {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
.item-wrapper.icon-size-6 .item span[data-v-21800f52],
.item-wrapper.icon-size-7 .item span[data-v-21800f52] {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  line-height: 0.53333rem;
  height: 0.53333rem;
  color: #424242;
  width: 100%;
  font-size: 0.32rem;
  text-align: center;
}
.wap-item-group.icon-size-1 .item[data-v-21800f52],
.wap-item-group.icon-size-4 .item[data-v-21800f52],
.wap-item-group.icon-size-5 .item[data-v-21800f52] {
  width: calc((100% - 0.32rem * 2) / 3);
  height: 0.74667rem;
}
.wap-item-group.icon-size-1 .item span[data-v-21800f52],
.wap-item-group.icon-size-4 .item span[data-v-21800f52],
.wap-item-group.icon-size-5 .item span[data-v-21800f52] {
  font-size: 0.32rem;
}
.wap-item-group.icon-size-1 .item[data-v-21800f52]:nth-child(3n),
.wap-item-group.icon-size-4 .item[data-v-21800f52]:nth-child(3n),
.wap-item-group.icon-size-5 .item[data-v-21800f52]:nth-child(3n) {
  margin-right: 0;
}
.wap-item-group.icon-size-2 .item[data-v-21800f52] {
  width: calc((100% - 0.21333rem * 4) / 5);
  margin-right: 0.21333rem;
}
.wap-item-group.icon-size-2 .item span[data-v-21800f52] {
  font-size: 0.26667rem;
}
.wap-item-group.icon-size-2 .item img[data-v-21800f52] {
  width: 100%;
  height: 1.46667rem;
  object-fit: cover;
}
.wap-item-group.icon-size-2 .item[data-v-21800f52]:nth-child(5n) {
  margin-right: 0;
}
.wap-item-group.icon-size-3 .item[data-v-21800f52] {
  width: calc((100% - 0.21333rem * 2) / 3);
  margin-right: 0.21333rem;
  position: relative;
  border-radius: 0.10667rem;
  overflow: hidden;
}
.wap-item-group.icon-size-3 .item img[data-v-21800f52] {
  width: 100%;
  height: 1.73333rem;
  object-fit: cover;
}
.wap-item-group.icon-size-3 .item span[data-v-21800f52] {
  width: 100%;
  position: absolute;
  bottom: -0.08rem;
  border: none;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  z-index: 10;
  text-align: center;
  font-size: 0.29333rem;
  font-weight: initial;
}
.wap-item-group.icon-size-3 .item[data-v-21800f52]:nth-child(3n) {
  margin-right: 0;
}
.wap-item-group.icon-size-6 .item[data-v-21800f52] {
  width: calc((100% - 0.26667rem * 3) / 4);
  margin-right: 0.26667rem;
}
.wap-item-group.icon-size-6 .item img[data-v-21800f52] {
  height: 2.02667rem;
}
.wap-item-group.icon-size-6 .item[data-v-21800f52]:nth-child(4n) {
  margin-right: 0;
}
.wap-item-group.icon-size-7 .item[data-v-21800f52] {
  width: calc((100% - 0.26667rem * 3) / 4);
  margin-right: 0.26667rem;
}
.wap-item-group.icon-size-7 .item img[data-v-21800f52] {
  height: 2.66667rem;
}
.wap-item-group.icon-size-7 .item[data-v-21800f52]:nth-child(4n) {
  margin-right: 0;
}
.pc-item-group.icon-size-1 .item[data-v-21800f52],
.pc-item-group.icon-size-4 .item[data-v-21800f52],
.pc-item-group.icon-size-5 .item[data-v-21800f52] {
  width: calc((100% - 0.32rem * 4) / 5);
}
.pc-item-group.icon-size-1 .item[data-v-21800f52]:nth-child(5n),
.pc-item-group.icon-size-4 .item[data-v-21800f52]:nth-child(5n),
.pc-item-group.icon-size-5 .item[data-v-21800f52]:nth-child(5n) {
  margin-right: 0;
}
.pc-item-group.icon-size-2 .item[data-v-21800f52] {
  width: calc((100% - 0.26667rem * 10) / 11);
  margin-right: 0.26667rem;
}
.pc-item-group.icon-size-2 .item[data-v-21800f52]:nth-child(11n) {
  margin-right: 0;
}
.pc-item-group.icon-size-3 .item[data-v-21800f52] {
  width: calc((100% - 0.34667rem * 5) / 6);
  margin-right: 0.34667rem;
}
.pc-item-group.icon-size-3 .item[data-v-21800f52]:nth-child(6n) {
  margin-right: 0;
}
.pc-item-group.icon-size-6 .item img[data-v-21800f52] {
  height: 2.66667rem;
}
.pc-item-group.icon-size-7 .item img[data-v-21800f52] {
  height: 3.46667rem;
}
.nav-sort-box .filter-item[data-v-21800f52] {
  height: 0.74667rem;
  margin-right: 0.26667rem;
  margin-bottom: 0.26667rem;
}
.nav-sort-box .filter-item + .filter-item[data-v-21800f52] {
  margin-left: 0;
}
.filter-option-item[data-v-21800f52] {
  display: flex;
  align-items: center;
}
.filter-option-item img[data-v-21800f52] {
  width: 0.42667rem;
  height: 0.42667rem;
  margin-right: 0.13333rem;
}
.ellipsis[data-v-21800f52] {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*清除浮动*/
.clearfix[data-v-21800f52] {
  *zoom: 1;
}
.clearfix[data-v-21800f52]:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}
.fl[data-v-21800f52] {
  float: left;
}
.fr[data-v-21800f52] {
  float: right;
}

.model-tab-container.pc-tab[data-v-7d73f8cb] {
  padding: 0 0.32rem;
}
.model-tab-container .model-nav[data-v-7d73f8cb] {
  margin-bottom: 0.21333rem;
  line-height: 0.8rem;
  white-space: nowrap;
  position: relative;
  user-select: none;
  border-bottom: 1px solid #f3f3f3;
}
.model-tab-container .model-nav.iconPadding[data-v-7d73f8cb] {
  padding: 0 0.8rem;
}
.model-tab-container .model-nav.wap-nav .nav-content[data-v-7d73f8cb] {
  overflow-x: auto;
  overflow-y: auto;
}
.model-tab-container .model-nav.wap-nav .nav-content[data-v-7d73f8cb]::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 2px;
  transition: all ease 0.5s;
}
.model-tab-container .model-nav.wap-nav .nav-content[data-v-7d73f8cb]::-webkit-scrollbar-track {
  background: transparent;
  transition: all ease 0.5s;
}
.model-tab-container .model-nav.wap-nav .nav-content[data-v-7d73f8cb]::-webkit-scrollbar {
  width: 0.10667rem;
  height: 0.10667rem;
  background: transparent;
  transition: all ease 0.5s;
  position: absolute;
}
.model-tab-container .model-nav.wap-nav .nav-content[data-v-7d73f8cb]:hover::-webkit-scrollbar {
  width: 0.10667rem;
  height: 0.10667rem;
  background: rgba(0, 0, 0, 0.2);
}
.model-tab-container .model-nav.wap-nav .nav-content[data-v-7d73f8cb]:hover::-webkit-scrollbar-track {
  background: transparent;
}
.model-tab-container .model-nav.wap-nav .nav-content[data-v-7d73f8cb]:hover::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 0.26667rem;
  cursor: pointer;
}
.model-tab-container .model-nav.wap-nav .nav-content span[data-v-7d73f8cb] {
  margin-right: 0.8rem;
}
.model-tab-container .model-nav.pc-nav .nav-content[data-v-7d73f8cb] {
  overflow: hidden;
}
.model-tab-container .model-nav .icon-btn[data-v-7d73f8cb] {
  width: 0.64rem;
  height: 100%;
  font-size: 0.48rem;
  position: absolute;
  top: 0;
  z-index: 10;
  cursor: pointer;
  background: #fff;
  color: #8B8B8B;
}
.model-tab-container .model-nav .icon-btn.left-btn[data-v-7d73f8cb] {
  left: 0;
}
.model-tab-container .model-nav .icon-btn.right-btn[data-v-7d73f8cb] {
  right: 0;
  text-align: right;
}
.model-tab-container .model-nav .nav-content[data-v-7d73f8cb] {
  width: 100%;
  white-space: nowrap;
}
.model-tab-container .model-nav span[data-v-7d73f8cb] {
  margin-right: 0.53333rem;
  color: #8B8B8B;
  transition: 0.3s;
  cursor: pointer;
  font-size: 0.37333rem;
  display: inline-block;
  position: relative;
  min-width: 0.8rem;
  text-align: center;
}
.model-tab-container .model-nav span[data-v-7d73f8cb]:hover {
  color: rgba(64, 64, 64, 0.5);
}
.model-tab-container .model-nav span.active[data-v-7d73f8cb] {
  color: #A77334;
}
.model-tab-container .model-nav span.active.line[data-v-7d73f8cb]:after {
  content: '';
  background: #BE8E54;
  width: 0.53333rem;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 2px;
}
.ellipsis[data-v-7d73f8cb] {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*清除浮动*/
.clearfix[data-v-7d73f8cb] {
  *zoom: 1;
}
.clearfix[data-v-7d73f8cb]:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}
.fl[data-v-7d73f8cb] {
  float: left;
}
.fr[data-v-7d73f8cb] {
  float: right;
}

.article-edit-box[data-v-87289408] {
  width: 100%;
  height: 3.2rem;
  border-radius: 0.10667rem;
  background: #F2F2F2;
  padding: 0.26667rem;
  font-size: 0.37333rem;
  user-modify: read-write-plaintext-only;
  -webkit-user-modify: read-write-plaintext-only;
  overflow: auto;
}
.article-edit-box[data-v-87289408]:empty:before {
  content: attr(placeholder);
  color: #999;
}
.tool-bar[data-v-87289408] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.26667rem;
}
.tool-bar .left-wrapper[data-v-87289408] {
  display: flex;
  align-items: center;
}
.tool-bar .left-wrapper .img-update-btn[data-v-87289408] {
  width: 0.8rem;
  height: 0.8rem;
  position: relative;
  background-size: 100% 100%;
  border-radius: 0.10667rem;
  font-size: 0.64rem;
}
.tool-bar .left-wrapper .img-update-btn input[data-v-87289408] {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 0;
}
.tool-bar .left-wrapper .video-update-btn[data-v-87289408] {
  width: 0.8rem;
  height: 0.8rem;
  position: relative;
  background-size: 100% 100%;
  margin-left: 0.53333rem;
  border-radius: 0.10667rem;
  font-size: 0.64rem;
}
.tool-bar .left-wrapper .video-update-btn input[data-v-87289408] {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 0;
}
.img-group[data-v-87289408] {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.26667rem;
  margin-bottom: 0.53333rem;
}
.img-group .item[data-v-87289408] {
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.26667rem 0.26667rem 0 0;
  position: relative;
}
.img-group .item img[data-v-87289408] {
  width: 100%;
  height: 100%;
}
.img-group .item .close-btn[data-v-87289408] {
  position: absolute;
  top: -0.16rem;
  right: -0.16rem;
  z-index: 10;
  background: #fff;
  border-radius: 50%;
  width: 0.53333rem;
  height: 0.53333rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 0.08rem #ddd;
  cursor: pointer;
  transition: 0.3s;
}
.img-group .item .close-btn[data-v-87289408]:hover {
  box-shadow: 0 0 0.16rem #bbb;
}
.img-group .item .percent-box[data-v-87289408] {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 0.32rem;
}
.img-group .item .el-icon-video-play[data-v-87289408] {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
  color: #fff;
  text-shadow: 0 0 0.10667rem #bbb;
}
.ellipsis[data-v-87289408] {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*清除浮动*/
.clearfix[data-v-87289408] {
  *zoom: 1;
}
.clearfix[data-v-87289408]:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}
.fl[data-v-87289408] {
  float: left;
}
.fr[data-v-87289408] {
  float: right;
}

.article-list-item[data-v-0b64a098] {
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 0.32rem;
  padding-bottom: 0.32rem;
  display: block;
}
.article-list-item .top-user-box[data-v-0b64a098] {
  display: flex;
  align-items: center;
  margin-bottom: 0.26667rem;
}
.article-list-item .top-user-box img[data-v-0b64a098] {
  width: 0.96rem;
  height: 0.96rem;
  object-fit: cover;
  border-radius: 50%;
}
.article-list-item .top-user-box .r-wrapper[data-v-0b64a098] {
  padding-left: 0.26667rem;
  font-size: 0.32rem;
}
.article-list-item .top-user-box .r-wrapper .username[data-v-0b64a098] {
  max-width: 4rem;
  color: #2F2F2F;
  font-weight: 500;
  line-height: 0.53333rem;
}
.article-list-item .top-user-box .r-wrapper .date[data-v-0b64a098] {
  color: #989898;
  font-weight: initial;
  margin-left: 0.13333rem;
}
.article-list-item .flex-box[data-v-0b64a098] {
  display: flex;
}
.article-list-item .flex-box.flex-row[data-v-0b64a098] {
  justify-content: space-between;
}
.article-list-item .flex-box.flex-row .text-box[data-v-0b64a098] {
  width: 100%;
}
.article-list-item .flex-box.flex-row.has-img .text-box[data-v-0b64a098] {
  width: calc(100% - 2.93333rem);
}
.article-list-item .flex-box.flex-row .img-box[data-v-0b64a098] {
  width: 2.56rem;
  height: 1.6rem;
}
.article-list-item .flex-box.flex-row .img-box img[data-v-0b64a098] {
  width: 2.56rem;
  height: 1.6rem;
  border-radius: 0.16rem;
  object-fit: cover;
}
.article-list-item .flex-box.flex-column[data-v-0b64a098] {
  flex-direction: column;
}
.article-list-item .flex-box.flex-column .img-box[data-v-0b64a098] {
  display: flex;
}
.article-list-item .flex-box.flex-column .img-box .item[data-v-0b64a098] {
  margin-right: 0.37333rem;
}
.article-list-item .flex-box.flex-column .img-box .item[data-v-0b64a098]:last-child {
  margin-right: 0;
}
.article-list-item .flex-box.flex-column .img-box .item img[data-v-0b64a098] {
  width: 100%;
  height: 100%;
  border-radius: 0.10667rem;
  object-fit: cover;
}
@media screen and (max-width: 500px) {
.article-list-item .flex-box.flex-column .img-box .item[data-v-0b64a098] {
    width: calc((100% - 0.37333rem * 2) / 3);
    height: 2.4rem;
}
}
@media screen and (min-width: 500px) {
.article-list-item .flex-box.flex-column .img-box .item[data-v-0b64a098] {
    width: 3.73333rem;
    height: 2.4rem;
    max-width: calc((100% - (0.37333rem * 2)) / 3);
}
}
.article-list-item .flex-box .text-box[data-v-0b64a098] {
  cursor: pointer;
}
.article-list-item .flex-box .text-box .title[data-v-0b64a098] {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: auto;
  font-size: 0.37333rem;
  line-height: 0.64rem;
  color: #171717;
}
.article-list-item .flex-box .text-box .title .iconfont[data-v-0b64a098] {
  font-size: 0.42667rem;
  margin-right: 0.13333rem;
  color: #e74957;
}
.article-list-item .flex-box .text-box .desc[data-v-0b64a098] {
  font-size: 0.32rem;
  color: #868686;
  line-height: 0.48rem;
  overflow: hidden;
  max-height: 0.96rem;
}
.article-list-item .bottom-box[data-v-0b64a098] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.26667rem;
  color: #575757;
  font-size: 0.32rem;
}
.article-list-item .bottom-box .l-box[data-v-0b64a098] {
  display: flex;
  align-items: center;
}
.article-list-item .bottom-box .l-box .game-name[data-v-0b64a098] {
  font-size: 0.32rem;
  color: #666;
  background: #f3f3f3;
  border-radius: 0.53333rem;
  display: flex;
  align-items: center;
  padding: 0 0.26667rem;
  height: 0.58667rem;
  margin-right: 0.37333rem;
}
.article-list-item .bottom-box .l-box .game-name img[data-v-0b64a098] {
  width: 0.42667rem;
  height: 0.42667rem;
  border-radius: 2px;
  margin-right: 0.16rem;
}
.article-list-item .bottom-box .l-box .user[data-v-0b64a098] {
  display: flex;
  align-items: center;
}
.article-list-item .bottom-box .l-box .user img[data-v-0b64a098] {
  width: 0.42667rem;
  height: 0.42667rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 0.21333rem;
}
.article-list-item .bottom-box .iconfont[data-v-0b64a098] {
  margin-right: 0.10667rem;
  font-size: 0.32rem;
}
.article-list-item .bottom-box div[data-v-0b64a098] {
  display: flex;
  align-items: center;
}
.article-list-item .bottom-box .data-box[data-v-0b64a098] {
  display: flex;
  align-items: center;
}
.article-list-item .bottom-box .data-box > div[data-v-0b64a098] {
  display: flex;
  align-items: center;
}
.article-list-item .bottom-box .data-box > div + div[data-v-0b64a098] {
  margin-left: 0.32rem;
  display: flex;
  align-items: center;
}
.ellipsis[data-v-0b64a098] {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*清除浮动*/
.clearfix[data-v-0b64a098] {
  *zoom: 1;
}
.clearfix[data-v-0b64a098]:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}
.fl[data-v-0b64a098] {
  float: left;
}
.fr[data-v-0b64a098] {
  float: right;
}

.banner-container[data-v-48bccc66] {
  width: 100%;
  border-radius: 0.16rem;
}
.banner-container .swiper-box[data-v-48bccc66] {
  height: 100%;
}
.banner-container .banner-item[data-v-48bccc66] {
  height: 100%;
}
.banner-container .banner-item img[data-v-48bccc66] {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.16rem;
  background: #fff;
}
.banner-container.wap-banner .banner-item[data-v-48bccc66] {
  width: 8.69333rem;
}
.banner-container.wap-banner .banner-item.swiper-slide-active img[data-v-48bccc66] {
  transform: scale(1, 1);
}
.banner-container.wap-banner .banner-item img[data-v-48bccc66] {
  transform: scale(0.95, 0.9);
}
.wap-banner[data-v-48bccc66] {
  height: 3.78667rem;
  padding: 0.21333rem 0;
}
.pc-banner[data-v-48bccc66] {
  width: 100%;
  height: 7.46667rem;
  padding-bottom: 0.53333rem;
  margin-bottom: 0.21333rem;
  position: relative;
}
.pc-banner[data-v-48bccc66] .swiper-slide {
  padding: 0 2.61333rem;
}
.pc-banner[data-v-48bccc66] .swiper-slide img {
  border: 2px solid #fff;
  height: 6.93333rem;
}
.swiper-pagination[data-v-48bccc66] {
  width: 100%;
  text-align: center;
}
.swiper-pagination[data-v-48bccc66] .swiper-pagination-bullet {
  width: 0.32rem;
  height: 0.10667rem;
  background: #3C3C3C;
  border-radius: 0.08rem;
  opacity: 1;
  margin: 0 2px;
}
.swiper-pagination[data-v-48bccc66] .swiper-pagination-bullet-active {
  width: 0.45333rem;
  background: #FFD47D;
}
.ellipsis[data-v-48bccc66] {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*清除浮动*/
.clearfix[data-v-48bccc66] {
  *zoom: 1;
}
.clearfix[data-v-48bccc66]:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}
.fl[data-v-48bccc66] {
  float: left;
}
.fr[data-v-48bccc66] {
  float: right;
}

.friend-link-group[data-v-366f96ec] {
  display: flex;
  flex-wrap: wrap;
}
.friend-link-group a[data-v-366f96ec] {
  width: calc((100% - 0.42667rem) / 3);
  padding: 0.08rem;
  display: flex;
  align-items: center;
  margin-right: 0.21333rem;
  margin-bottom: 0.21333rem;
  border-radius: 0.10667rem;
  background: #F2F2F2;
  line-height: 1;
}
.friend-link-group a[data-v-366f96ec]:nth-child(3n) {
  margin-right: 0;
}
.friend-link-group a img[data-v-366f96ec] {
  width: 0.48rem;
  height: 0.48rem;
}
.friend-link-group a span[data-v-366f96ec] {
  display: block;
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  font-size: 0.32rem;
  color: #3A2E25;
  padding: 0 0.13333rem;
}
@media screen and (max-width: 500px) {
.friend-link-group a[data-v-366f96ec] {
    height: 0.85333rem;
}
}
@media screen and (min-width: 500px) {
.friend-link-group a[data-v-366f96ec] {
    height: 0.64rem;
}
}
.ellipsis[data-v-366f96ec] {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*清除浮动*/
.clearfix[data-v-366f96ec] {
  *zoom: 1;
}
.clearfix[data-v-366f96ec]:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}
.fl[data-v-366f96ec] {
  float: left;
}
.fr[data-v-366f96ec] {
  float: right;
}

.notice-link-group .article-row-tag[data-v-01d3483a] {
  padding: 0 0.21333rem;
  height: 0.85333rem;
  background: #f9f9f9;
}
.ellipsis[data-v-01d3483a] {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*清除浮动*/
.clearfix[data-v-01d3483a] {
  *zoom: 1;
}
.clearfix[data-v-01d3483a]:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}
.fl[data-v-01d3483a] {
  float: left;
}
.fr[data-v-01d3483a] {
  float: right;
}

.top-nav-container[data-v-0dd38744] {
  width: 100%;
  height: 1.33333rem;
  border-bottom: 1px solid #404040;
  margin-bottom: 0.32rem;
}
.top-nav-container.fixed-top .top-nav-body[data-v-0dd38744] {
  width: 32rem;
  position: fixed;
  top: 1.33333rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: rgba(255, 255, 255, 0.76);
}
.top-nav-container .top-nav-body[data-v-0dd38744] {
  height: 1.33333rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-nav-container .l-wrapper[data-v-0dd38744] {
  font-size: 0.37333rem;
  color: #323232;
  width: calc(100% - 4.26667rem);
}
.top-nav-container .l-wrapper span[data-v-0dd38744] {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding: 0 0.21333rem;
  color: #323232;
  cursor: pointer;
  display: inline-block;
  max-width: 2.29333rem;
}
.top-nav-container .l-wrapper span[data-v-0dd38744]:hover {
  color: #000;
}
.top-nav-container .search-box[data-v-0dd38744] {
  width: 3.73333rem;
  height: 0.74667rem;
  border-radius: 0.74667rem;
  border: 1px solid rgba(85, 85, 85, 0.64);
  position: relative;
}
.top-nav-container .search-box input[data-v-0dd38744] {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  padding-right: 0.8rem;
  padding-left: 0.26667rem;
  font-size: 0.32rem;
}
.top-nav-container .search-box .iconfont[data-v-0dd38744] {
  color: rgba(85, 85, 85, 0.64);
  position: absolute;
  right: 0.16rem;
  top: 0.16rem;
  font-size: 0.42667rem;
}
.ellipsis[data-v-0dd38744] {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*清除浮动*/
.clearfix[data-v-0dd38744] {
  *zoom: 1;
}
.clearfix[data-v-0dd38744]:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}
.fl[data-v-0dd38744] {
  float: left;
}
.fr[data-v-0dd38744] {
  float: right;
}

.pc-home-container .wiki-main-box[data-v-01a5dff2] {
  position: relative;
  width: 100%;
  margin-top: 0.32rem;
  padding: 0.32rem;
  border-radius: 0.32rem;
  background: rgba(255, 255, 255, 0.76);
}
.pc-home-container .wiki-main-box .nav-box[data-v-01a5dff2] {
  width: 100%;
  margin-bottom: 0.32rem;
  padding: 0 0.32rem;
  box-sizing: border-box;
}
.wiki-home[data-v-01a5dff2] {
  min-height: 13.33333rem;
  border-radius: 0.16rem;
  display: flex;
  justify-content: space-between;
}
.wiki-home .left-container[data-v-01a5dff2] {
  width: calc(100% - 8.21333rem);
  border-radius: 2px;
}
.wiki-home[data-v-01a5dff2] .home-model-container {
  margin-bottom: 0.21333rem;
  background: #fff;
}
.wiki-home[data-v-01a5dff2] .home-model-container .model-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.8rem;
  margin-bottom: 0.21333rem;
  background: #404040;
}
.wiki-home[data-v-01a5dff2] .home-model-container .model-title .title {
  font-size: 0.48rem;
  font-weight: bold;
  color: #fff;
  border-left: 0.08rem solid #f7ce7a;
  margin-left: 0.13333rem;
  padding-left: 0.29333rem;
  line-height: 0.53333rem;
}
.wiki-home[data-v-01a5dff2] .home-model-container .model-title .right-wrapper .edit-btn {
  font-size: 0.32rem;
  color: #00B64F;
}
.wiki-home .right-container[data-v-01a5dff2] {
  width: 8rem;
  display: flex;
  flex-direction: column;
}
.right-model-container[data-v-01a5dff2] {
  width: 100%;
  background: #fff;
  border-radius: 2px;
  margin-bottom: 0.21333rem;
}
.right-model-container .model-title[data-v-01a5dff2] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 0.8rem;
  background: #404040;
}
.right-model-container .model-title .title[data-v-01a5dff2] {
  font-size: 0.48rem;
  font-weight: bold;
  color: #fff;
  border-left: 0.08rem solid #f7ce7a;
  margin-left: 0.13333rem;
  padding-left: 0.29333rem;
  line-height: 0.53333rem;
}
.right-model-container .model-title .right-wrapper[data-v-01a5dff2] {
  padding-right: 0.32rem;
}
.right-model-container .model-title .right-wrapper .edit-btn[data-v-01a5dff2] {
  font-size: 0.32rem;
  color: #FFD787;
}
.right-model-container .right-model-content[data-v-01a5dff2] {
  padding: 0.32rem;
}
.game-detail-box[data-v-01a5dff2] {
  border-top: 0.16rem solid #404040;
}
.game-detail-box .game-detail-title[data-v-01a5dff2] {
  font-size: 0.42667rem;
  font-weight: bold;
  text-align: center;
  margin-top: 0.21333rem;
}
.game-detail-box .game-detail[data-v-01a5dff2] {
  margin: 0.21333rem 0.32rem;
}
.game-detail-box .game-detail .desc[data-v-01a5dff2] {
  font-size: 0.34667rem;
  color: #424242;
  line-height: 0.53333rem;
  overflow: hidden;
}
.more-btn[data-v-01a5dff2] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.32rem;
}
.more-btn a[data-v-01a5dff2] {
  color: #404040;
}
.sq-btn[data-v-01a5dff2] {
  color: #292929;
  cursor: pointer;
}
.entry-new-group .item[data-v-01a5dff2] {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.entry-new-group .item + .item[data-v-01a5dff2] {
  margin-top: 0.26667rem;
}
.entry-new-group .item:hover .title[data-v-01a5dff2] {
  text-decoration: underline;
}
.entry-new-group .item > div[data-v-01a5dff2] {
  display: flex;
  align-items: center;
}
.entry-new-group .item + a[data-v-01a5dff2] {
  margin-top: 0.37333rem;
}
.entry-new-group .item .date[data-v-01a5dff2] {
  color: #575757;
  font-size: 0.32rem;
}
.entry-new-group .item .title[data-v-01a5dff2] {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: block;
  color: #424242;
  font-size: 0.34667rem;
  width: 5.86667rem;
  line-height: 0.53333rem;
}
.entry-new-group .item .user[data-v-01a5dff2] {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  width: 1.86667rem;
  color: #8B8B8B;
  font-size: 0.32rem;
  margin-left: 0.53333rem;
  text-align: right;
}
.article-nav-box[data-v-01a5dff2] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #f3f3f3;
  margin-bottom: 0.53333rem;
}
.article-nav-box .nav[data-v-01a5dff2] {
  display: flex;
  align-items: center;
}
.article-nav-box .nav div + div[data-v-01a5dff2] {
  margin-left: 0.53333rem;
}
.article-nav-box .nav div[data-v-01a5dff2] {
  color: #8b8b8b;
  padding: 0.10667rem 0;
  cursor: pointer;
}
.article-nav-box .nav div.active[data-v-01a5dff2] {
  color: #00B64F;
}
.article-nav-box .more-btn[data-v-01a5dff2] {
  color: #575757;
  transition: 0.3s;
  font-size: 0.32rem;
  cursor: pointer;
}
.article-nav-box .more-btn[data-v-01a5dff2]:hover {
  color: #00B64F;
}
.ellipsis[data-v-01a5dff2] {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*清除浮动*/
.clearfix[data-v-01a5dff2] {
  *zoom: 1;
}
.clearfix[data-v-01a5dff2]:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}
.fl[data-v-01a5dff2] {
  float: left;
}
.fr[data-v-01a5dff2] {
  float: right;
}

.shenqing-dialog {
  overflow: hidden;
}
.shenqing-dialog .el-dialog__header {
  padding: 0;
  background: #404040;
}
.shenqing-dialog .el-dialog__header .game-info {
  height: 1.6rem;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: bold;
  font-size: 0.48rem;
  padding-left: 0.26667rem;
}
.shenqing-dialog .el-dialog__header .game-info img {
  width: 0.96rem;
  height: 0.96rem;
  border-radius: 0.16rem;
  border: 1px solid #fff;
  margin-right: 0.26667rem;
}
.shenqing-dialog .title {
  color: #171717;
  font-size: 0.58667rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.53333rem 0;
  margin-bottom: 0.53333rem;
}
.shenqing-dialog .input-box {
  margin-bottom: 0.8rem;
}
.shenqing-dialog .input-box .text {
  color: #171717;
  font-size: 0.37333rem;
}
.shenqing-dialog .input-box .text span {
  color: #FC6475;
}
.shenqing-dialog .input-box textarea {
  border: 1px solid #f3f3f3;
  border-radius: 0.10667rem;
  resize: none;
  height: 3.2rem;
  padding: 0.26667rem;
  width: 100%;
  margin-top: 0.26667rem;
  font-size: 0.37333rem;
}
.shenqing-dialog .ok-btn {
  width: 100%;
  margin-bottom: 0.26667rem;
}
.link-btn {
  width: 100%;
  height: 1.49333rem;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAlQAAABwCAAAAAD9UbH8AAAAAXNSR0IArs4c6QAAAj5JREFUeNrt3VdWVVEABNE3/3lxERMoCCIogmJAsiSzk6iPc9/aNYWq1b+9mAZiBUvBQlRY6qhe/cP8GSyq6YoSUdVsUSKqnEtORFWzyYmoci5IEVXNS1JElXPOiqhqXrAiqpxTWkRVs0GLqHK+8SKqmnVeRJVzQoyoap4TI6qcr8yIqubZX2pEVfOFGlGZKgwf1fSZG1HVPP1DjqhqPpEjqponpkpUOcfsiMpUYfiopo/0iKrm8W9+RFXzgR9R5VP1iyBR1RwRJKqaNVMlqpz3DIkqn6qfFImq5oAiUdU8MlWiynnHkajyqfpBkqhq3pIkqnyqHlgSVc0+S6KqWb2nSVQ1ezSJylSJaviopjc8iSqfqjuiRFWzS5So8qm6ZUpUNa+ZElXODVWiqtmhSlQ537kSVY0jXFH1XJMlKlMlqvHx2S2qHEe4oupxhCsqUyWqGeAIV1Q5jnBF1XNGmKhMlajGx2e3qHJ8douqx2e3qHJ8douqx2e3qHJ8douqx2e3qHIc4Yqqx2e3qEyVqGaAz25R5fjsFlWPz25R5TjCFVWPI1xR9VPlCFdUpkpU4+OzW1Q9jnBFleMIV1Q9h9yJylSJanx8douqnypHuKLKOWBPVDWOcEXV47NbVKZKVDPAZ7eoclZ9dosqx2e3qPqpcoQrqhyf3aLqp8oRrqhyfHaLqp8qR7iiyvHZLaoeR7iiynGEK6oeR7iiytlmUVQ5jnBFleMIV1Q9jnBFlbPFo6hyLokUVc4KhkJUyPkPVw63J0rP9X0AAAAASUVORK5CYII=) no-repeat center;
  background-size: 100% 100%;
  margin-bottom: 0.21333rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 0.32rem;
  font-size: 0.48rem;
  font-weight: bold;
  color: #404040;
  cursor: pointer;
}
.link-btn.custom-img {
  color: #fff;
  text-shadow: 0 0 2px #999;
}
.ellipsis {
  width: auto;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/*清除浮动*/
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
  clear: both;
}
.fl {
  float: left;
}
.fr {
  float: right;
}


/*# sourceMappingURL=26.9748c28b.css.map*/